@import 'colors';
@import 'fontSize';
section {
    .secondCarousel {
        margin: 20px 100px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        .arrow {
            img {
                height: 40px;
                width: 40px;
            }
            &.a:hover {
                transform: translate(-3px, 0);
            }
            &.b:hover {
                transform: translate(3px, 0);
            }
        }
        .slide {
            box-shadow: 6px 5px $baseColorOpacity;
            padding-bottom: 20px;
            margin-right: 20px;
            border: 1px solid $black;
            img {
                margin: 10px;
                width: 200px;
                height: 250px;
            }
            p {
                font-size: $h3;
                margin: 10px 20px;
            }
            a {
                margin: 10px 20px;
                padding: 5px 20px;
                border: 2px solid $black;
                letter-spacing: 2px;
            }
        }
    }
}