footer {
    background-color: rgb(105, 25, 25);
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    ul {
        &:first-child {
            align-items: flex-start;
        }
        img {
            width: 70px;
            height: 70px;
        }
    }
    li {
        margin-bottom: 5px;
    }
    .footTitle {
        color: gray;
        font-weight: bold;
    }
}