.search {
    input {
        width: 400px;
        padding: 10px 10px;
        margin-top: 80px;
        //   border-radius: 30px;
        background-color: rgba(255, 255, 255, 0.8);
        color: black;
        font-weight: bold;
        text-align: center;
        &::placeholder {
            font-weight: bold;
            letter-spacing: 3px;
            text-align: center;
            color: black;
        }
        &:focus {
            background-color: rgba(105, 25, 25, 0.3);
            &::placeholder {
                color: white;
            }
            color: white;
        }
    }
    .searchBtn {
        background-color: white;
        //   border-radius: 30px;
        padding: 8px 40px;
        font-weight: bold;
        color: black;
        font-size: 15px;
        letter-spacing: 2px;
    }
}