@import 'generalCss';
.container {
    margin: auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .subContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 5px lightgray;
        border: 2px solid gray;
        .leftSide {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            width: 350px;
            height: 450px;
            background-image: url(images/signUpCar2.jpg);
            background-size: cover;
            background-color: rgba(38, 5, 77, 0.5);
            background-blend-mode: multiply;
            .bigFont {
                font-size: 30px;
                font-weight: bold;
                letter-spacing: 3px;
            }
            .mediumFont {
                font-size: 20px;
                color: lightgray;
                margin: 15px 0px;
            }
            .seeMore {
                border: 1px solid lightgray;
                color: lightgray;
                background-color: none;
                padding: 5px 35px;
                cursor: pointer;
                &:hover {
                    background-color: rgba(165, 160, 160, 0.3);
                }
            }
        }
        .rightSide {
            box-sizing: border-box;
            width: 500px;
            height: 450px;
            background-color: rgb(233, 233, 233);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img {
                width: 100px;
                height: 100px;
            }
            .bigFont {
                font-size: 25px;
                font-weight: bold;
            }
            ul {
                margin-top: 20px;
                width: 450px;
                flex-wrap: wrap;
                display: flex;
                justify-content: space-between;
                align-items: center;
                li {
                     :focus {
                        background-color: rgb(155, 155, 155);
                    }
                    padding: 5px 0px;
                    input {
                        color: black;
                        width: 200px;
                        border: 1px solid lightgray;
                    }
                }
            }
            .subBut {
                width: 200px;
                height: 20px;
                cursor: pointer;
                margin-top: 10px;
                border: none;
                color: white;
                background-color: rgb(78, 172, 78);
                font-weight: bold;
                box-shadow: 5px 5px rgb(179, 175, 175);
                &:hover {
                    box-shadow: 5px 3px rgb(179, 175, 175);
                    transform: translateY(2px);
                }
            }
            .toSignIn {
                margin-top: 30px;
                color: rgb(78, 172, 78);
                padding-bottom: 3px;
                &:hover {
                    border-bottom: 1px solid rgb(78, 172, 78);
                }
            }
        }
    }
}