@import 'generalCss';
@import 'navigatieHeader';
@import 'carusel';
@import 'footer';
@import 'mainSearch';
@import 'backUp';
.heroImage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    background-image: url('/images/heroImgLanding.jpg');
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: overlay;
    height: 500px;
    padding: 5px;
    .learn {
        background-color: white;
        font-size: 25;
        color: black;
        border: 1px solid white;
        padding: 10px 20px;
    }
    .discover {
        font-size: 30px;
        color: black;
        margin-bottom: 20px;
        letter-spacing: 5px;
        background-color: rgb(253, 251, 251);
        width: 900px;
        text-align: center;
    }
    .container {
        width: 800px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

section {
    .textCarousel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        .title {
            font-size: 25px;
            margin-bottom: 20px;
            letter-spacing: 5px;
            background-color: rgb(105, 25, 25);
            width: 900px;
            text-align: center;
        }
        .subTitle {
            background-color: rgb(105, 25, 25);
            font-size: 16px;
            border: 1px solid white;
            padding: 2px 20px;
        }
    }
    .carousel {
        margin: 10px 100px;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        .arrow {
            img {
                height: 40px;
                width: 40px;
            }
            &.a:hover {
                transform: translate(-3px, 0);
            }
            &.b:hover {
                transform: translate(3px, 0);
            }
        }
        .slide1 {
            border: 1px solid black;
            box-shadow: 6px 5px rgba(105, 25, 25, 0.5);
            margin-right: 10px;
            padding-bottom: 30px;
            img {
                width: 400px;
                height: 300px;
            }
            p {
                font-size: 18px;
                margin: 10px 20px;
            }
            a {
                margin: 10px 20px;
                padding: 5px 40px;
                border: 2px solid black;
                letter-spacing: 2px;
            }
        }
        .slide2 {
            border: 1px solid black;
            box-shadow: 6px 5px rgba(105, 25, 25, 0.5);
            margin-right: 10px;
            text-align: center;
            padding-bottom: 30px;
            img {
                width: 200px;
                height: 300px;
            }
            p {
                font-size: 18px;
                margin: 10px 20px;
            }
            a {
                margin: 10px 20px;
                padding: 5px 30px;
                border: 2px solid black;
                letter-spacing: 2px;
            }
        }
    }
}

section {
    .heroImage {
        background-image: url(images/firstHero.jpg);
        background-size: cover;
        margin-bottom: 10px;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        p {
            width: 50%;
            padding-bottom: 30px;
        }
        &.product {
            height: 300px;
        }
    }
}

.sec {
    border-top: 1px solid black;
    background-color: rgb(253, 249, 249);
    .grid {
        padding-bottom: 50px;
        margin: 0 100px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        place-items: center;
        text-align: center;
        div {
            width: 200px;
            padding-bottom: 40px;
        }
        a {
            font-weight: bold;
            img {
                width: 200px;
            }
        }
    }
}

.clickable {
    color: black;
    &:hover {
        background-color: rgb(105, 25, 25);
        color: white;
    }
}