@import 'generalCss';
.navigatie{
    padding: 20px 100px;
    background-color: rgb(22, 22, 56);
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        color:lightgray;
        font-weight: bold;
        &:not(:first-of-type)
        {
            margin-left: 30px;
        }
    }
    &.sec{
        background-color: white;
        a{
            color:rgb(76, 71, 94);
            font-weight: bold;
        }
    }

}
.heroImage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 500px;
    padding: 5;
    .container{
        width: 800px;
        height: 250px;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a{
            &:first-child{
                padding-bottom: 50px;
            }
            &:nth-child(2){
                padding-bottom: 10px;
            }
        }
        input{
            width: 400px;
            padding: 5px 0;
        }
        button{
            padding: 5px 25px;
        }
    }
}
