@import 'generalCss';
@import 'landingPageStyle';

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 15px;
  padding-bottom: 20px;
  border-bottom: 3px solid rgb(105, 25, 25);
  input {
    margin-top: 0px;
  }
  .searchBtn {
    background-color: rgba(105, 25, 25, 0.3);
  }
}
.dropDown {
  ul {
    li {
      ul {
        background-color: white;
      }
    }
  }
}
.container {
  display: flex;
  // gap: 20px;
  margin: 40px 50px;
}
.left {
  padding: 10px;
  height: 400px;
  min-width: 200px;
  border: 2px solid rgb(105, 25, 25);
}
.right {
  right: 0;
  left: 0;
  margin: auto;
  h1 {
    padding: 0;
    margin: 0 0 30px 0;
  }
  label {
    margin-left: 20px;
  }
  .gridProductPage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    margin: 10px;
    div {
      position: relative;
      width: 300px;
      border: 2px solid rgb(105, 25, 25);
      border-radius: 10px;
      &:hover .hoverItems a {
        display: block;
      }
      img {
        width: 298px;
        height: 150px;
        border-radius: 8px 8px 0 0;
      }
      p {
        margin: 10px;
      }
      .price {
        font-weight: bold;
      }
      .hoverItems {
        display: flex;
        top: 30px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 0;
        position: absolute;
        a {
          display: none;
          border: 2px solid rgb(105, 25, 25);
          padding: 5px 20px;
          margin-bottom: 30px;
          color: white;
          font-weight: bold;
          &:nth-child(2):hover {
            background-color: rgba(58, 117, 58, 0.5);
            border: 2px solid green;
          }
          &:first-child:hover {
            background-color: rgba(240, 240, 240, 0.5);
          }
        }
      }
    }
  }
}
.pagination {
  justify-content: center;
  display: flex;
  padding-bottom: 20px;
  a {
    border: 1px solid rgb(105, 25, 25);
    padding: 5px 10px;
    font-size: 20px;
    color: black;
    &:hover {
      background-color: rgba(105, 25, 25, 0.5);
    }
    &:active {
      background-color: rgb(105, 25, 25);
    }
  }
}
