@import 'generalCss';
@import 'navigatieHeader';
@import 'footer';
@import 'search';
@import 'carusel';
@import 'backUp';
.containerAsideProduct {
    display: flex;
    justify-content: center;
    gap: 30px;
    .leftProduct {
        display: flex;
        flex-direction: column;
        .bigImg {
            img {
                width: 550px;
            }
        }
        .smallImg {
            display: flex;
            justify-content: space-between;
            img {
                width: 100px;
                height: 100px;
            }
            margin-bottom: 20px;
        }
        .detailsProduct {
            width: 450px;
            p {
                margin-bottom: 25px;
            }
        }
        #infoStats {
            margin-bottom: 10px;
        }
        .infoStats {
            display: flex;
            justify-content: space-between;
            ul {
                width: 275px;
                li {
                    border: 1px solid rgb(105, 25, 25);
                    padding: 5px 10px;
                }
            }
            .secondUl {
                li {
                    text-align: end;
                    color: gray;
                }
            }
        }
    }
}

.rightProduct {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 305px;
    border: 1px solid rgb(105, 25, 25);
    div {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px;
    }
    a {
        color: black;
        padding: 10px 10px;
    }
    p {
        padding: 5px 10px;
    }
    .cart {
        margin: 40px 10px;
        background-color: rgb(59, 187, 59);
        text-align: center;
        color: white;
        font-weight: bold;
        &:hover {
            background-color: green;
        }
    }
    .aLinked {
        border-top: 1px solid rgb(105, 25, 25);
    }
}

